* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f0f0f;
  color: white;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background: black;
  z-index: 100;
}

.logo {
  color: gold;
  font-weight: bold;
}

/* NAV */
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("https://images.unsplash.com/photo-1441986300917-64674bd600d8") center/cover;
}

.heroText h1 {
  font-size: 50px;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* SECTION */
.section {
  padding: 50px 0;
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px;
}

/* CARD */
.card {
  background: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

button {
  width: 100%;
  padding: 8px;
  border: none;
  background: gold;
  cursor: pointer;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 8px;
}

.gallery img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  transition: 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* CART */
#cartBox {
  position: fixed;
  right: 10px;
  top: 70px;
  background: white;
  color: black;
  padding: 10px;
  display: none;
  width: 200px;
}
